$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}
body > div.menu {
    box-shadow: 1.5rem 1px 0px #f8f930, 3rem 1px 0px #a5e130;
    color: white;
    background: #e32e2e;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

body > div.main {
  display: block;
  height: 10rem;
  width: 18rem;
  margin: auto;
  padding: 1rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 20px;
  text-align: center;
  opacity: 0.8;
  background: linear-gradient(135deg, rgba(233, 233, 233, 0.9) 0%, rgba(225, 225, 225, 0.95) 51%, rgba(233, 233, 233, 0.9) 75%);
}
body > div.header {
  background: fixed url('./assets/images/header-bg.jpg');
  display: block;
  position: absolute;
}
body > div.header > img {
  display: block;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  bottom: -50%;
  height: auto;
}

body > footer {
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  line-height: 70px;
  border-top: #dedfe1 1px solid;
}

