$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  margin: 0;
  padding: 0;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  text-align: center;
}
body > div.menu {
    box-shadow: 1.5rem 1px 0px #f8f930, 3rem 1px 0px #a5e130;
    color: white;
    background: #e32e2e;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}


body > div.header {
  background:  url('/assets/images/header-bg.jpg') center/cover no-repeat ;
  height: 9rem;
  width: 18rem;
  position: relative;
}

body > div.header > div.tx {
  width: auto;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  bottom: -50%;
}
body > div.header > div.tx > img {
  width: inherit;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
}

body > div.header > div.contact {
  position: absolute;
  bottom: -60%;
}

body > div.header > div.contact > p {
  text-shadow: 1px 1px 0px rgba(225, 225, 225, 0.95);
}

body > div.main {
  display: block;
  height: 10rem;
  width: 18rem;
  margin: auto;
  position: relative;
  top: 50%;
  padding: 1rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 20px;
  text-align: center;
  opacity: 0.8;
  background: linear-gradient(135deg, rgba(233, 233, 233, 0.9) 0%, rgba(225, 225, 225, 0.95) 51%, rgba(233, 233, 233, 0.9) 75%);
}

body > footer {
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  line-height: 70px;
  border-top: #dedfe1 1px solid;
}

